.home{
    padding: 40px;

    .title{
        padding-bottom: 20px;
    }
    .navItem{
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    sub{
        padding-left: 20px;
    }
}